---
import jm_portrait from '@/assets/images/Joice Massie Profile.jpeg';
import linkedin_icon from '@/assets/icons/linkedin-svgrepo-com.svg';

import "@/styles/contact.scss";
---

<section class="profile-section">
  <div class="container profile-grid" data-aos="fade-left" data-aos-delay="300">

    <div class="profile-left" data-aos="zoom-in" data-aos-delay="200">
      <img src={jm_portrait.src}
           alt="Profile Picture of Joice Massie"
           class="profile-img"/>

      <h3>Joice Massie <span class="profession-title">S.H.</span></h3>
      <p class="subtitle">Founder Joice LawFirm</p>
      <a href="https://www.linkedin.com/in/joice-massie-479769352 "><img src={linkedin_icon.src} alt="linkedin icon" class="icon"></a>
    </div>

    <div class="profile-right">
      <h2>Tentang Joice</h2>
      <hr class="title-underline">
      <p>
        Joice Massie adalah konsultan hukum yang memiliki latar belakang pendidikan di bidang hukum serta pengalaman dalam memberikan konsultasi hukum bagi individu dan pelaku usaha.
         Ia berfokus pada pendampingan hukum perdata dan bisnis, termasuk penyusunan kontrak, analisis dokumen hukum, serta pemberian saran hukum yang sesuai dengan peraturan perundang-undangan yang berlaku di Indonesia.
      </p>
      <h3>Sertifikasi</h3>
      <hr class="title-underline">
      <strong>Advokat, Perhimpunan Advokat Indonesia (PERADI)</strong>
    </div>

  </div>
</section>

<!-- CONTACT INFO -->
<section class="contact-info">
  <div class="container">
    <h2>Hubungi Kami</h2>
    <hr class="contact-title-underline">

    <div class="contact-info-grid">

      <div data-aos="flip-left" data-aos-delay="100">
        <h4>Alamat</h4>
        <p>Indonesia Raya</p>
      </div>

      <div data-aos="flip-left" data-aos-delay="200">
        <h4>Telepon</h4>
        <p>+62 8111477229</p>
      </div>

      <div data-aos="flip-left" data-aos-delay="300">
        <h4>Email</h4>
        <p>massiejoice01@gmail.com</p>
      </div>

    </div>
  </div>
</section>
